[*]
charset = utf-8
end_of_line = lf
indent_style = space
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cjs,js,jsx,ts,tsx}]
indent_size = 2
max_line_length = 80
quote_type = single
trailingComma = all  # wont work
trailing_comma = all  # wont work
# "arrowParens": "always",
# "bracketSpacing": true,
# "htmlWhitespaceSensitivity": "css",
# "insertPragma": false,
# "singleAttributePerLine": false,
# "bracketSameLine": false,
# "jsxBracketSameLine": false,
# "proseWrap": "preserve",
# "quoteProps": "as-needed",
# "requirePragma": false,
# "semi": true,
# "singleQuote": false,
# "trailingComma": "all",
# "vueIndentScriptAndStyle": false,
