services:
  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80
    depends_on:
      - backend
      - frontend

  backend:
    image: backend
    build: backend
    command: sh -c 'alembic upgrade head && python ./src/db/init_db.py && uvicorn src.main:app --reload --host 0.0.0.0'
    volumes:
      - ./backend/:/app/
    env_file:
      - .env
    depends_on:
      - postgres

  frontend:
    image: frontend
    build:
      context: frontend
      target: development
    volumes:
      - ./frontend/src/:/app/src/
    # env_file:
    #   - .env

  postgres:
    image: postgres:14-alpine
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data/
    env_file:
      - .env


volumes:
  db-data:
