orjson
uvicorn[standard]
gunicorn
fastapi
fastapi-pagination
passlib[bcrypt]
python-jose[cryptography]
python-multipart

asyncpg~=0.26.0
alembic~=1.8.1  # TODO update alembic/env.py
sqlmodel~=0.0.7
# TODO TODO CHECK IF FIXED
# sqlalchemy==1.4.35  # https://github.com/tiangolo/sqlmodel/issues/315

# pydantic[email,dotenv]
pydantic
python-dotenv
email-validator

# loguru
apscheduler

# pandas
# httpx

# https://fastapi.tiangolo.com/#optional-dependencies
